@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans'); 

html, body {
    margin: 0; 
    padding: 0; 
    height: 100%; 
    width: 100%;	
}

.intro {
    height: 100%;
    width: 100%;
    margin: auto; 
    background: url('images/mountain-landscape.jpg'); no-repeat: 50% 50%;
	display: table; 
	top: 0;
	background-size: cover;
    background-position: center; 	
}

.intro .inner {
    display: table-cell; 
    vertical-align: middle; 
    width: 100%;
    max-width: none; 	
}

.content {
    max-width: 600px; 
    margin: 0 auto; 
    text-align: center; 	
}

.content h1 {
	font-family: 'Ubuntu', sans-serif; 
	font-size: 600%; 
	font-weight: 200;
    color: #ffffff;	
	line-height: 70%; 
}

.content #tag-line {
    font-family: 'Noto Sans', sans-serif;
    color: #ffffff;
    font-size: 150%; 	
	padding-bottom: 30px; 
}

.btn {
    font-family: 'Noto Sans', sans-serif; 
    font-size: 135%;
    font-weight: 600;
    color: #000000;
    background: #ff9900; 	
    text-decoration: none;
    border: none;
    border-radius: 9px; 	
    padding: 10px 20px;  	
	transition: all 0.5s; 
}

.btn:hover {
	color: #333333; 
    background: #ffad33;	
}

h2 {
	padding-top: 25px; 
    font-size: 200%;
	font-weight: bold;
	line-height: 200%;
	text-align: center; 
	margin: 2% 10%; 
	font-family: 'Noto Sans', sans-serif; 
}

p {
    font-size: 150%;
    line-height: 125%;
	text-align: center; 
    font-family: 'Noto Sans', sans-serif;
    margin: 5% 10%;   	
}

#waiting-list-header {
	color: #ff0000; 
}

form {
    text-align: center; 	
	margin: 5% 10%; 
	font-family: 'Noto Sans', sans-serif; 
}

input[type=email] {
    font-size: 100%;
    padding: 10px; 
    border: 3px solid #ff9900; 
    border-radius: 9px; 	
}

input[type=submit] {
    font-size: 100%;
    font-weight: 600;
    letter-spacing: 2px; 	
    color: #000000; 
    background: #ff9900; 
    padding: 13px; 
	border: none;  
	border-radius: 9px; 
}

input[type=submit]:hover {
    color: #333333; 
	background: #ffad33; 
} 

#footer-note {
    font-size: 100%;
	line-height: 100%;
	text-align: center;
	margin: 5% 10%;
	font-family: 'Ubuntu', sans-serif;
	color: #999999; 
}

/* CSS3 Media Queries */
@media screen and (max-width: 900px) {
    .content h1 {
	    font-size: 450%;	
	}
	.content #tag-line {
	    font-size: 150%;	
	}
	.btn {
	    font-size: 130%;
        padding: 9px 17px; 		
	}
}
@media screen and (max-width: 768px) {
    .content h1 {
	    font-size: 300%;	
	}
	.content #tag-line {
	    font-size: 125%;	
	}
	.btn {
	    font-size: 110%;
        padding: 7px 15px; 		
	}
	h2 {
	    font-size: 150%;	
	}
	p {
	    font-size: 120%;
        line-height: 100%; 		
	}
	form {
	    font-size: 90%;	
	}
	#footer-note {
	    font-size: 90%; 	
	}
}
@media screen and (max-width: 480px) {
	.content h1 {
	    font-size: 250%;	
	}
	.content #tag-line {
	    font-size: 115%;	
	}
	.btn {
	    font-size: 110%;
        padding: 6px 14px; 		
	}
	h2{
	    font-size: 125%; 	
	}
	p {
	    font-size: 100%;
        line-height: 100%; 		
	}
	form {
	    font-size: 75%; 	
	}
	#footer-note {
        font-size: 75%; 
    }		
}