@import url('https://fonts.googleapis.com/css?family=Raleway'); 
@import url('https://fonts.googleapis.com/css?family=Questrial');

body {
    background: url('images/autumn-road.jpg'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 	
}

.container {
	margin: 100px auto;
	padding: 25px; 
	text-align: center;
} 

#app-title {
    font-size: 600%;
    font-family: 'Raleway', sans-serif;
	font-weight: 600;
    color: #ffcc00; 
    margin-top: 150px;
    margin-bottom: 100px;  	
}

#tag-line {
    font-size: 150%; 
    font-family: 'Questrial', sans-serif;
	font-weight: 300; 
    font-style: italic; 	
    color: #ffffff;  	
	text-align: left; 
    padding-left: 150px; 	
}

#call-to-action {
    font-size: 125%; 
    font-family: 'Questrial', sans-serif;
	font-weight: 300; 	
    color: #ffffff;  	
	text-align: right; 
    padding-right: 150px; 	
}

ul {
    text-align: right; 	
	margin-right: 250px; 
}

li {
    display: inline; 	
}

a {
    color: #f2f2f2;
    text-decoration: none; 
    font-size: 300%; 	
	padding: 10px; 
}

a:hover {
    color: #ffffff; 	
}