@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Catamaran'); 

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%; 	
}

.intro {
	height: 100%;
	width: 100%;
	margin: auto; 
	background: url(https://images.pexels.com/photos/462024/pexels-photo-462024.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940); no-repeat: 50% 50%; 
	display: table; 
	top: 0; 
	background-size: cover; 
}

.intro .inner {
	display: table-cell; 
	vertical-align: middle; 
	width: 100%;
	max-width: none; 
}

.content {
	max-width: 500px; 
	margin: 0 auto; 
	text-align: center; 
} 

.content h1 {
	font-family: 'Quicksand', sans-serif; 
	color: #ffffff; 
	text-shadow: 0px 0px 300px #000000; 
	font-size: 350%; 
	padding-bottom: 25%; 
}

.btn {
	border: none; 
	border-radius: 9px; 
	padding: 10px 20px; 
	font-family: 'Catamaran', sans-serif;
	color: #eeeeee; 
	background: rgba(255, 51, 51, 0.7); 
	font-size: 100%; 
	font-weight: bold;
	text-transform: uppercase; 
	text-decoration: none;
	letter-spacing: 2px; 
    margin-top: 15%; 	
}

.btn:hover {
	color: #ffffff;  
	background: rgba(255, 51, 51, 0.9); 
}

h2 {
    font-size: 200%;
	font-weight: bold;
	line-height: 210%;
	text-align: center; 
	margin: 2% 10%; 
	font-family: 'Catamaran', sans-serif; 
}

p {
	font-size: 160%;
	line-height: 210%;
	text-align: center;
	margin: 2% 10%;
	font-family: 'Catamaran', sans-serif; 
}

#footer-note {
    font-size: 100%;
	line-height: 210%;
	text-align: center;
	margin: 2% 10%;
	font-family: 'Quicksand', sans-serif;
	color: #999999; 
}