@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Catamaran'); 

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%; 	
}

.intro {
	height: 100%;
	width: 100%;
	margin: auto; 
	background: url('images/jetty.jpg'); no-repeat: 50% 50%; 
	display: table; 
	top: 0; 
	background-size: cover; 
	background-position: center; 
}

.intro .inner {
	display: table-cell; 
	vertical-align: middle; 
	width: 100%;
	max-width: none; 
}

.content {
	max-width: 500px; 
	margin: 0 auto; 
	text-align: center; 
} 

.content h1 {
	font-family: 'Quicksand', sans-serif; 
	color: #ffffff; 
	text-shadow: 0px 0px 300px #000000; 
	font-size: 350%;  
}

.content #tag-line {
    font-family: 'Catamaran', sans-serif; 
    color: #ffffff; 
    font-size: 175%; 
    padding-bottom: 30px; 	
}

.btn {
	border: none; 
	border-radius: 9px; 
	padding: 10px 20px; 
	font-family: 'Catamaran', sans-serif;
	color: #f2f2f2; 
	background: rgba(255, 51, 51, 0.7); 
	font-size: 100%; 
	font-weight: bold;
	text-decoration: none;
	letter-spacing: 2px; 
    margin-top: 15%; 	
}

.btn:hover {
	color: #ffffff;  
	background: rgba(255, 51, 51, 0.9); 
}

h2 {
    font-size: 200%;
	font-weight: bold;
	line-height: 210%;
	text-align: center; 
	margin: 2% 10%; 
	font-family: 'Catamaran', sans-serif; 
}

p {
	font-size: 160%;
	line-height: 210%;
	text-align: center;
	margin: 2% 10%;
	font-family: 'Catamaran', sans-serif; 
}

form {
    text-align: center; 	
	margin: 20px auto; 
	font-family: 'Catamaran', sans-serif; 
}

input[type=text] {
    font-size: 100%;
    padding: 10px; 
    border: 3px solid #0086b3; 
    border-radius: 9px; 	
}

input[type=submit] {
    font-size: 100%;
    font-weight: bold;
    letter-spacing: 2px; 	
    color: #f2f2f2; 
    background: #0086b3; 
    padding: 13px; 
	border: none;  
	border-radius: 9px; 
}

input[type=submit]:hover {
    color: #ffffff; 
	background: #0099cc; 
} 

#footer-note {
    font-size: 100%;
	line-height: 210%;
	text-align: center;
	margin: 2% 10%;
	font-family: 'Quicksand', sans-serif;
	color: #999999; 
}

@media screen and (max-width: 768px) {
	.content h1 {
		font-size: 250%; 
	} 
	.content #tag-line {
	    font-size: 125%; 	
	}
	.btn {
	    font-size: 75%; 
        padding: 7px 15px; 		
	}
	h2 {
	    font-size: 150%;		
	}
	p {
		font-size: 100%;
		line-height: 160%; 
	}
	form {
	    font-size: 75%; 	
	}
	#footer-note {
	    font-size: 75%; 	
	}
}