@import url('https://fonts.googleapis.com/css?family=Lato'); 

body {
    background: url(https://images.pexels.com/photos/35600/road-sun-rays-path.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940); 
    background-size: cover; 
    background-position: center;
    background-attachment: fixed; 
	font-family: 'Lato', san-serif; 
    line-height: 1.5;
    color: white; 	
}

.container {
    width: 350px;
    margin: 100px auto; 
    padding: 20px;
	background: black; 
    background-color: rgba(0,0,0,0.6);
	text-align: center;
    border-radius: 40px;  	
}

a {
    text-decoration: none; 	
	color: #e6e6e6; 
	font-size: 48px; 
}

a:hover {
	color: #ffffff; 
} 